* {
    margin: 0;
    padding: 0;
}

.headerMenu {
    background-color: #CB4F09;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 50%;
    top: 0%;
}
.logoMenu{
    width: 116px;
    height: 68px;
}
.inicio,
.pedidos{
    display: flex;
    width: 66%;
    height: 23%;
    justify-content: center;
    text-decoration: none;
    margin-top: 1%;
    color:white;
    font-size:small;
}
.sect-input{
    background-color: #0B0E12;
    display: flex;
    justify-content: space-around;
}
.input-name{
    position: relative;
    width: 370px;
    height: 30px;
    margin-top: 20px;
    background-color: transparent;
    border: 2px solid #CB4F09;
    border-radius: 4px;
    color: white;
    text-align: center;
}
.num-table{
    width: 188px;
    height: 30px;
    margin-top: 20px;
    background-color: black;
    border: 2px solid #CB4F09;
    border-radius: 4px;
    color: white;
}
.menu{
    background-color: #0B0E12;
    height: 86vh;
}
.foodContainer{
    display: flex;
    flex-direction: row;
    color: white;
    padding: 2%;
    width: 40%;
    flex-wrap: wrap;
    justify-content: center;
}
.CardComidas,
.CardBebidas{
    display: flex;
    width: 40%;
    height: 130%;
    border:2px solid #CB4F09;
    border-radius: 8px;
    justify-content: flex-end;
    text-align: center;
    flex-direction: column;
    margin-bottom: 15px;
    margin-right: 15px;
    padding-bottom: 4px;
}
.imgComida{
    display: flex;
    width: 90px;
    height: 57px;
    justify-content: center;
    padding: 2px 15px 2px 15px;
}
.namec,
.pricec{
    display: flex;
    justify-content: center;
}
.drinksContainer{
    display: flex;
    flex-direction: row;
    color: white;
    padding: 2%;
    width: 40%;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 5px;
}
.imgBebida{
    display: flex;
    width: 90px;
    height: 57px;
    justify-content: center;
    padding: 2px 15px 2px 15px;
}
.nameb,
.priceb{
    display: flex;
    justify-content: center;
}
.hComida{
    display: flex;
    color: #CB4F09;
    padding-left: 22px;
    padding-top: 20px;
    font-size: 25px;
}
.hBebida{
    display: flex;
    color: #CB4F09;
    padding-left: 80px;
    padding-top: 1px;
    font-size: 25px;
}
.sect-btn-amount{
    position: relative;
    height: 48px;
}
.plus{
    position: relative;
    width: 16px;
    height: 15px;
    top: -18px;
    right: 36px;
}
.minus{
    position: relative;
    width: 16px;
    height: 15px;
    left: 39px;
    top: 26px;
}
.plusB{
    position: relative;
    width: 16px;
    height: 15px;
    top: -18px;
    right: 36px;
}
.minusB{
    position: relative;
    width: 16px;
    height: 15px;
    left: 39px;
    top: 26px;
}
.ResumenP {
    position: relative;
    left: 352px;
    width: 50%;
    height: 87%;
    bottom: 78vh;
    border: 2px solid #CB4F09;
    border-radius: 8px;
    color: #CB4F09;
}
.titleResumen{
    color: #CB4F09;
    font-size: larger;
}